$main_color: #2d4459;
$second_color: #fd5308;
$gray_color: #ccc;

$page_margin: 200px;
$page_margin_2: 100px;
$page_margin_3: 50px;
$page_margin_4: 20px;
$header_main_footer_margin: 70px;

$font14: 14px;
$font15: 15px;
$font18: 18px;
$font24: 24px;
$font30: 30px;
$font40: 40px;

$responsive: (
    screen-1300: 1300px,
    screen-1100: 1100px,
    screen-1090: 1090px,
    screen-872: 872px,
    screen-720: 720px,
    screen-650: 650px,
    screen-440: 440px
);