@import '../main';

.search_section{
    background-color: #6c7c8b;
    margin-top: 70px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 500px;
        height: 40px;
        border: 1px solid transparent;
        padding: 5px 10px;
        border-radius: 5px;
        outline: none;
        margin-bottom: 20px;

        &:focus{
            border: 1px solid $second_color;
        }
    }
    .btn{
        width: 200px;
        height: 40px;
    }
   
}
main{
    h3{
        margin-top: 30px;
    }
    .btn_container{
        margin-top: 20px;
    }
    .added_documents{
        li{
            margin-bottom: 10px;
        }
        a:hover{
            border-bottom: 1px solid $main_color;
        }
    }
}
