@import '../main';


h2{
    float: left;
    margin-left: 50px;
    padding-top: 5px;          
}
.icon{
    width: 50px;
    height: 20px;
}
// .button{
//     // width: 20%;
//     // height: 40px;
//     // margin-left: 450px;
//     // background: linear-gradient(48deg, $orange, $orange_linear);
//     // color: $white;
//     // border: none;
//     // border-radius: 150px;
//     // font-size: 1.2rem;
//     // box-shadow: 0 1px 10px $box_shadow_input;
//     // cursor: pointer;
//     // position: relative

// }
.search_section{
    background-color: #6c7c8b;
    margin-top: 70px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 500px;
        height: 40px;
        border: 1px solid transparent;
        padding: 5px 10px;
        border-radius: 5px;
        outline: none;
        margin-bottom: 20px;

        &:focus{
            border: 1px solid $second_color;
        }
    }
    .btn{
        width: 200px;
        height: 40px;
    }
   
}
// main{
    
    
//     .added_documents{
//         width: 100%;
//         height: 200px;
//         display: inline-block;
//         .button{
//             float: left;
//             margin-left: 50px;
//         }
//     }
//     .contribution_space{
//         @extend .added_documents;
//     }
// }
